@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-navy-50: #E8EEF6;
  --color-navy-100: #C8D5EA;
  --color-navy-200: #9FB6D8;
  --color-navy-300: #6F8FC2;
  --color-navy-400: #3F67AA;
  --color-navy-500: #1B2B4B;
  --color-navy-600: #162341;
  --color-navy-700: #111B37;
  --color-navy-800: #0D132D;
  --color-navy-900: #090D23;
  --color-navy-950: #05081A;
}
